/* Scss Document */
body {
  font-size: 18px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  background: url("../images/colorful-background.jpg"); }
  body header {
    font-size: 26px;
    color: black;
    margin: 0 auto;
    text-align: center; }
    body header h1 {
      margin: 20px 0px 0px 0px;
      font-size: 40px;
      font-weight: bold; }
    body header #title2 {
      margin-bottom: 40px;
      font-size: 14px;
      font-weight: bold; }
  body section {
    max-width: 700px;
    height: 350px;
    background-color: #ccc;
    margin: 0 auto;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 10px;
    -moz-background-clip: padding-box;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    -webkit-box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.62);
    box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.62); }
    @media screen and (max-width: 600px) {
      body section {
        float: left;
        height: auto;
        margin: 15px; } }
    body section .container-top {
      background: black;
      float: left;
      padding: 30px 0px;
      width: 100%;
      color: wheat; }
      body section .container-top .weather-infor div {
        width: 50%;
        float: left; }
        @media screen and (max-width: 600px) {
          body section .container-top .weather-infor div {
            width: 100%; } }
      body section .container-top .weather-infor #temp {
        font-size: 45px;
        text-align: center;
        font-weight: bold; }
        @media screen and (max-width: 600px) {
          body section .container-top .weather-infor #temp #weather-icon {
            margin-left: 15px; } }
        body section .container-top .weather-infor #temp #cond {
          font-size: 20px;
          text-align: right;
          letter-spacing: 3px; }
          @media screen and (max-width: 600px) {
            body section .container-top .weather-infor #temp #cond {
              text-align: center; } }
        body section .container-top .weather-infor #temp .scale {
          display: inline-block;
          font-size: 28px; }
          body section .container-top .weather-infor #temp .scale.not-selected {
            color: #787777; }
    body section .place {
      width: 50%;
      float: right; }
      @media screen and (max-width: 600px) {
        body section .place {
          width: 100%; } }
      body section .place div {
        width: 100%;
        float: left;
        text-align: center; }
      body section .place #state {
        font-size: 25px;
        margin-top: 25px; }
    body section #weather-condition {
      float: left;
      width: calc(100% - 20px);
      padding: 10px; }
      body section #weather-condition div {
        width: 21%;
        margin: 10px;
        float: left; }
        @media screen and (max-width: 600px) {
          body section #weather-condition div {
            width: 45%; } }
        @media screen and (max-width: 490px) {
          body section #weather-condition div {
            width: 40%; } }
        body section #weather-condition div label {
          width: 100%;
          float: left;
          text-align: center;
          font-weight: bold; }
        body section #weather-condition div div {
          width: 100%;
          float: left;
          text-align: center;
          margin: 10px 0px; }
          body section #weather-condition div div.infor-icon {
            min-height: 60px; }

/*# sourceMappingURL=style.css.map */
